.search-bar {
    display: flex;
    gap: 10px;
}

.search-input {
    padding: 10px;
    width: 300px;
}

.search-button {
    background-color: #068484;
    color: white;
}

.search-button-dark {
    background-color: #b4ced2;
    color: black;
}

.clear-button {
    background-color: #068484;
    color: white;
}

.clear-button-dark {
    background-color: #b4ced2;
    color: black;
}